/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.titlepage h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 60pt;
  width: 900px;
  text-align: center;
  color: #282828;
}

.titlepage h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color:#ff6d6d;
  text-align: center;
  width:200px;
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
}

.titlepage p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  text-align: center;
  opacity:.6;
}


.titlepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/mountains.jpg);
background-repeat: no-repeat;
background-size: 100%;
  height:810px;
}

.page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page2 img {
  margin-left: 0;
padding-left: 305px;
}
.leftcolumn1 {
  padding-top: 100px;
      padding-left: 150px;
}
.page2 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ff6d6d;
  text-align: left;
}

.page2 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #282828;
  text-align: left;
  width:500px;
}

.page2 p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  text-align: left;
  width: 550px;
  opacity:.66;
}

.page2 {
  margin-left:100px;
}

@media (max-width: 700px) {
  .page2 {
    display:block;
  }
}

.columns2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftcolumn2 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.centercolumn2 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rightcolumn2 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.page3 h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 15.99px;
  color: #ff6d6d;
  text-align: center;
}

.page3 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 39.98px;
  color: #282828;
  text-align: center;
  margin-top: 0;
  margin-bottom: 200px;

}

.page3 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #282828;
  text-align: center;
}

.page3 p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  text-align:center;
  width:330px;
  opacity:.66;
}

.page3 {
  padding-top:150px;
}

.paragraphs  {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  width: 81%;
  margin-left:8%;
}



.page4 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #282828;
  text-align: left;
  margin:0;
  width:400px;
}

.page4 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 15.99px;
  color: #ff6d6d;
  text-align: left;
}

.page4 p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#282828;
  width:500px;
  padding-top:50px;
  opacity:.66;
}

.page4 {
  padding-top: 200px;
padding-bottom: 200px;
}

.page4 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.leftcolumn4 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
}

.centercolumn4 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
}
.rightcolumn4 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
}

.columns4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-evenly;
          padding-top: 200px;
}

.page5 h1{
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color:white; /* change to white after background is added*/
}

.page5 h2{
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#ff6d6d;
}

.page5 p{
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#ffffff; /* change to #ffffff after background is added */
  width: 320px;
  text-align:center;
  opacity:.66;
}


.paragraphs2  {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  width: 85%;
  margin-left:5%;
}



.page5 {
  background-image: url(img/geometricbackground.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-size: 2000px 800px;
}

.page6 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #282828;
  text-align: center;
  margin-top:0;
}

.page6 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 15.99px;
  color: #ff6d6d;
  text-align: center;
}

.page6 p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#282828;
  text-align:center;
  width: 600px;
  margin-left:33%;
  opacity:.66;

}

.page6 {
  padding-top:150px;
  padding-bottom: 500px;
}

.page7 {
  background-color:#323969;
  padding-top:150px;
}

.page7 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top:0;
  width: 650px;
  margin-left:28.5%;
}

.page7 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 15.99px;
  color: #ff6d6d;
  text-align: center;
}

.page7 input[type=text] {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color:#5b6187;
  text-align: center;
  width:150px;
  padding: 10px;
  padding-right:150px;
  border: 1px solid;
  border-radius: 3px;
  border-color:white;
  height: 25px;

}

.page7 h4 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color:#ff6d6d;
  text-align: center;
  width:200px;
  padding: 10px;
  border: 3px solid;
  border-radius: 3px;
  border-color:#ff6d6d;
  height:20px;
}

.dialogue {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  width:100%;
}

.page7 p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
  opacity:.6;
  padding-bottom:100px;
  padding-top:40px
}

.page8 h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #282828;
  width:200px;
}

.page8 input[type=text] {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #282828;
  text-align: center;
  width:150px;
  padding-right:250px
}



.headers2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  width: 85%;
  padding-left:100px;

}

.page8 p {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #282828;
  text-align: left;
  opacity:.6;
  padding-bottom:100px;
  padding-top:40px;
  -ms-flex-item-align:start;
      align-self:flex-start;
  margin-left:10%;
  width:200px
}

.page8 ul {
  list-style-type: none;


}

.page8 li {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  text-align: left;
  opacity:.6;

}

.page8 h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  background-color:#f6f6f6;
  text-align: center;
  width:120px;
  padding: 10px;
  padding-right:150px;
  border: 1px solid;
  border-radius: 3px;
  border-color:#f1f1f2;
  height: 25px;
}

.page8 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width:100%;
  padding-top:100px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
